body{
    margin: 0px;
    font-family: sans-serif;
}

#app-container{
    display: flex;
    flex-direction: column;
    height: 100%;
}

#menubar{
    display: flex;
    justify-content: space-between;
    background-color: #32a63b;
    padding: 10px;
    height: 25px;
}

#title{
    display: inline-block;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: 0;
    padding: 0;
}

#clock{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0;
    margin-right: 0;
    padding 0;
}

#pagetitle{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0;
    margin-right: 0;
    padding 0;
}

#application-body{
    flex: 1;
}

.side-menu-fade-in{
    position: absolute;
    height: calc(100% - 45px);
    top: 45px;
    background: #9eeb34;
    max-width: 200px;
    width: 200px;
    z-index: 1000;
    overflow-y: auto;
    overflow-x: hidden;

    opacity: 0;

    -webkit-transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -ms-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;
}

.side-menu-fade-out{
    position: absolute;
    height: calc(100% - 45px);
    top: 45px;
    background: #9eeb34;
    max-width: 200px;
    width: 200px;
    z-index: 1000;
    overflow-y: auto;
    overflow-x: hidden;

    opacity: 1;

    -webkit-transition: opacity 0.5ss ease-in;
    -moz-transition: opacity 0.5ss ease-in;
    -ms-transition: opacity 0.5ss ease-in;
    -o-transition: opacity 0.5ss ease-in;
    transition: opacity 0.5ss ease-in;
}

button{
    cursor: pointer;
    padding: 5px;
    border-radius: 2px;
    border: none;
    background-color: #32a63b;
}

button::disabled{
    background-color: #b9dbbc;
    color: #fff;
    cursor: default;
}

button:hover{
    background-color: #3bc446;
}

button:disabled:hover{
    background-color: #b9dbbc;
}

.home-background{
    width: 100%;
    height: auto;
}