.window{
    border: 1px solid #2c8d34;
    border-radius: 2px;
    position: absolute;
    box-shadow: 7px 7px 5px rgba(50, 50, 50, 0.1);
}

.window-title{
    display: block;
    width: 100%;
    background-color: #32a63b;
    padding: 5px;
    text-align: center;
}

.window-content{
    background-color: #FFF;
    padding: 10px;
}

.x-button-container{
    cursor: pointer;
}

.x-button{
    position: absolute;
    background-color: #000;
    width: 25px;
    height: 4px;
    border-radius: 2px;
    right: 5px;
    top: 12px;
    transform: rotate(-45deg);
}

.x-button::after{
    display: inline-block;
    content: '';
    position: absolute;
    background-color: #000;
    width: 25px;
    height: 4px;
    right: 0px;
    border-radius: 2px;
    transform: rotate(90deg);
}