label{
  min-width: 150px;
  display: inline-block;
  margin: 5px;
}

input{
  padding: 3px;
  border-radius: 2px;
  border-width: 1px;
  width: calc(100% - 100px - 60px);
}

input[type=submit]{
    cursor: pointer;
    padding: 5px;
    border-radius: 2px;
    border: none;
    background-color: #32a63b;
    float: right;
}

input[type=submit]:disabled{
    background-color: #b9dbbc;
    color: #fff;
    cursor: default;
    width: 75px;
}

input[type=submit]:hover{
    background-color: #3bc446;
}

input[type=submit]:disabled:hover{
    background-color: #b9dbbc;
}