label{
  display: inline-block;
  min-width: 15%;
  margin: 5px;
}

.license-notice{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    max-width: 65%;
    font-size: 6pt;
    width: 65%
}